.error {
  width: 100%;
  padding: 0.5rem;
  background-color: var(--danger);
  color: var(--white);
  font-size: 0.85rem;
  font-weight: bold;
  text-align: center;
  border-radius: 0.5rem;
  max-width: 22rem;
  margin: 1rem auto;
}
